{block content}
	
	<div class="page-heading">	
		{include ../tabs.latte active => 'tours'}
	</div>

	<br />
	<a class="btn btn-primary" n:href="update idPage => $idPage">{_'Add tour'}</a>
	<br /><br />

	{control grid}

{/block}